<div class="container">
    <div class="row text-center">
        <h2>Lending Club Predictor</h2>
        <hr>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h3>Input Parameters</h3>
            <hr>
            <form id="ze-form" class="form-horizontal" role="form" action="/" method="post" enctype="multipart/form">
                <div class="form-group">
                    <!-- fields for the model -->
                    {{#params}}
                    <div class="row">
                        <label for="last_fico_range_low" class="col-sm-4 control-label">Min FICO Score</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" id="last_fico_range_low" min="95" max="845" step="50" value="{{ last_fico_range_low }}">
                        </div>
                    </div>

                    <div class="row">
                        <label for="last_fico_range_high" class="col-sm-4 control-label">Max FICO Score</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" id="last_fico_range_high" min="100" max="850" step="50" value="{{ last_fico_range_high}}">
                        </div>
                    </div>

                    <div class="row">
                        <label for="revol_util" class="col-sm-4 control-label">Revolving Line Utilization</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" id="revol_util" min="0" max="100" step="10" value="{{ revol_util }}">
                        </div>
                    </div>

                    <div class="row">
                        <label for="inq_last_6mths" class="col-sm-4 control-label">Credit Inquiries Past 6m</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" id="inq_last_6mths" min="0" max="10" value="{{ inq_last_6mths }}">
                        </div>
                    </div>

                    <div class="row">
                        <label for="home_ownership" class="col-sm-4 control-label">Home Ownership</label>
                        <div class="col-sm-8">
                            <select id="home_ownership" class="form-control">
                                <option>RENT</option>
                                <option>OWN</option>
                                <option>MORTGAGE</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <label for="annual_inc" class="col-sm-4 control-label">Annual Income</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" id="annual_inc" min="10000" max="1000000" step="5000" value="{{ annual_inc }}" >
                        </div>
                    </div>

                    <div class="row">
                        <label for="loan_amnt" class="col-sm-4 control-label">Loan Amount</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" id="loan_amnt" min="1000" max="35000" step="1000" value="{{ loan_amnt }}">
                        </div>
                    </div>
                    {{/params}}
                </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="number" class="btn btn-default btn-block">Calculate Risk</button>
                </div>
              </div>
            </form>
        </div>
        <div class="col-sm-6">
            <!-- stuff the results here... -->
            <h3>Results</h3>
            <hr>
            <h5>P(default)</h5>
            <div class="progress">
                <div id="pg-bar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%; min-width: 20px;">
                    <span class=""></span>
                </div>
            </div>
            <h5>Raw Data</h5>
            <pre id="results">
{}
            </pre>
        </div>
    </div>
</div>


<script type="text/javascript">
$(document).ready(function() {
    $("#ze-form").submit(function(e) {
        e.preventDefault();
        $("#results").text("Making prediction...");
        var data = {

        };
        $("#ze-form .form-control").each(function(i, d) {
            var value = $(d).val();
            if (/[0-9]+/.test(value)) {
                value = parseFloat(value);
            }
            data[$(d).attr("id")] = value;
        })
        $.ajax({
            method: 'POST',
            url: '/',
            data: JSON.stringify(data),
            contentType: "application/json",
            success: function(data) {
                $("#results").html(JSON.stringify(data, null, 2));
                $("#pg-bar").css("width", 100*data.result.prob_default[0] + "%");
                $("#pg-bar span").text((100*data.result.prob_default[0]).toFixed(0) + "%");
            }
        });
        return false;
    });
});
</script>
